body {
    flex-direction: row;
}

#navbar {
    display: flex;
    width: 100%;
    background-color: brown;
    justify-content: end;
    padding: 5px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    border: 10px, dotted, green;
    border-width: 15px;
    border-color: green;
}

nav, ul, li {
    list-style-type: none;
    display: inline;
    
}

section {
    display: flex;
    min-height: 570px;
}

.welcome__text {
    background-color: blueviolet;
    width: 50%;
} 

.welcome__image {
    background: no-repeat;
    background-image: linear-gradient(
    to bottom,
    rgba(156, 156, 79, 0.5),
    rgba(102, 102, 239, 0.5)
  ), url("https://img.freepik.com/free-photo/men-hiking-foggy-mountain-trail-generated-by-ai_188544-27060.jpg?t=st=1689100061~exp=1689103661~hmac=3441cef130cfbbc5fa835a45704faaca72ab195b037c388ade09ebe68a745e13&w=1380");
    height: auto;
    width: 50%;
}


p {
    width: 40%;
    margin-left: 15px;
}

#teste {
    background-color: blue;
}
